{% csrf_token %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }} - Log in</title>
        <!--Must contain from 140 to 160 characters:-->
        <!--meta name="description" content=""-->
        <!--link rel="icon" href="../global/rsc/platform/this.ico"-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="X-XSS-Protection" content="1; mode=block">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:">
        <meta http-equiv="X-Content-Type-Options" content="nosniff">
        <meta http-equiv="Referrer-Policy" content="no-referrer">
        <!--meta property="og:image" content="https://.../... .png"-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'style/normalize.css' %}">
    </head>
    <body>
        <header>
        </header>
        <main id="main">
            <h1>{{ title }} - Log in</h1>
            <input id="username_input" type="username" placeholder="User"     required>
            <input id="password_input" type="password" placeholder="Password" required>
            <button id="login_button">Log in</button>
            <div id="error_container">
                <p id="error_message">
                </p>
            </div>
        </main>
    </body>
    <script type="module" src="{% static 'script/global/global.js' %}"></script>
    <script type="module" src="{% static 'script/login.js' %}"></script>
</html>